body {
  background-color: rgb(211, 211, 211);
}

#fondo {
  z-index: 0;
  float: right;
}

h2 {
  font-family: "Arial";
}

div {
  font-family: "Arial";
  font-size: 16px;
}

#div_table {
  font-size: 14px;
  text-align: left;
}

table, th, td {
  border: 1px solid rgb(125, 125, 125);
  border-collapse: collapse;
  padding: 2px;
}

th {
  text-align: center;
}

#test1, #test3, #test5, #test7, #test9, #test11, #test13, #test15, #test17, #test19, #test21, #test23, #test25 {
  color: rgb(0, 0, 255);
  background-color: transparent;
  text-decoration: underline;
}