#instructions {
  position: absolute;
  left: auto;
  top: 510px;
  font-family: 'Footlight MT Light';
  color: brown;
}

#consola {
  position: absolute;
  left: auto;
  top: auto;
  font-family: 'Courier New', Courier, monospace;
  color: black;
}

#consola2 {
  position: absolute;
  left: 200px;
  top: auto;
  font-family: 'Courier New', Courier, monospace;
  color: black;
}

#sky {
  position: absolute;
  z-index: 0;
  left: 9px;
  top: 27px;
  width: 640px;
  height: 480px;
  background-color: rgb(190, 228, 255);
}

#sky_usable {
  position: absolute;
  z-index: 1;
  left: 59px;
  top: 77px;
  width: 540px;
  height: 380px;
  background-color: rgb(150, 200, 255);
}

#helicopter {
  position: absolute;
  z-index: 2;
}

#preload {  
  position: absolute;
  left: 200px;
  top: 510px;
}